# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Mac system files
.DS_Store

# Ignore your environment secrets
.env

# Ignore virtual environment
venv/

# Ignore cron.log
cron.log

# Ignore run_pipeline
run_pipeline.sh

# Ignore ignore file
ignore/